page-start {
  .start-page-navigation {
    margin-bottom: 20px;
  }

  .app-image {
    top: 10%;
  }
}

.footer-navigation{
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto 35px auto;


}

.welcome{
  text-align: center;
  margin-top: 20%;


  p{
    font-size: 25px;
    font-weight: 300;
  }

}

.button-start{
  height:4em;
  margin: 1.4rem 0.2rem;
  padding-left:0em;
  padding-right:0em;
  font-size:17px;
}



button.dd-button:hover{
  background: $button_main;
}
