page-start {
  .start-page-navigation {
    margin-bottom: 20px;
  }

  .app-image {
    top: 10%;
  }
}

.footer-navigation{
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto 20px auto;
}



button.dd-button:hover{
  background: $button_main;
}
