page-reminder {

  .list-ios .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: none;
  }
}


.taskDescription{
  font-size:12px;
}


.taskHeader{
  text-transform: uppercase;
}


.item-block{
  min-height: 6rem;
}


