page-add-reminder{
  .centeredList{
    text-align:center;
  }

  .duedate-toggle .toggle-checked .toggle-icon {
    background-color: $button_main;
  }


  .item-radio-checked.item-ios ion-label{
    color: $button_main;
  }

  .radio-ios .radio-checked .radio-inner {
    border-color: $button_main;
  }
}
