<script src="../add-reminder/add-reminder.ts"></script>
<ion-header>
    <div class="flexbar">

        <ion-navbar>
            <ion-title class="addModuleTitle flexitem1" item-left>{{deadline.deadline_name}}</ion-title>
        </ion-navbar>

      <div class="addIconHeader flexitem2" *ngIf="user.student">
        <ion-icon class="addIcon" item-right name="md-add-circle" (click)="addReminder(deadline)"></ion-icon>
      </div>

    </div>
</ion-header>


<ion-content>

    <ion-list>
        <ion-list-header class="listHeader">
            {{'DEADLINE_DETAIL.TITLE' | translate}}
        </ion-list-header>

       <div *ngIf="reminders.length">
            <ion-item *ngFor="let reminder of reminders" value="reminder">
                <ion-label>
                    <span class="taskHeader">{{reminder.reminderTime | date: 'dd.MM.yyyy - HH:mm'}}</span>
                </ion-label>
            </ion-item>
        </div>
        <div *ngIf="!reminders.length">
            <ion-item>
                {{'DEADLINE_DETAIL.NO-REMINDER' | translate}}
            </ion-item>
        </div>


    </ion-list>


</ion-content>
