<ion-header>
    <div class="flexbar">

        <ion-navbar>
            <ion-title class="addModuleTitle flexitem1" item-left>Name of Deadline</ion-title>
        </ion-navbar>

      <div class="addIconHeader flexitem2" *ngIf="user.student">
        <ion-icon class="addIcon" item-right name="md-add-circle" (click)="addReminder($event, module)"></ion-icon>
      </div>

    </div>
</ion-header>


<ion-content>

    <ion-list>
        <ion-list-header class="listHeader">
            Reminder
        </ion-list-header>

        <div *ngIf="deadlines">
            <ion-item *ngFor="let deadline of deadlines" value="deadline">
                <ion-label>
                    <span class="taskHeader">10.10.17 - 10:00</span>
                </ion-label>
            </ion-item>
        </div>
        <div *ngIf="!deadlines">
            <ion-item>
                {{'MODULES-DETAIL.NO_DEADLINES' | translate}}
            </ion-item>
        </div>

        <div padding>
            <button class="dd-button" ion-button full type="submit" (tap)="mapModuleUser()" *ngIf="showAdd">{{'MODULES-DETAIL.ADDMODULE' | translate}}</button>
        </div>
    </ion-list>


</ion-content>
