page-home {

}



.searchBarTeacher{
  width:90%;
}

.pageHeader{
  border:none;
}


.addIconHeader{
  padding-top:13px;
  padding-bottom:13px;
  text-align:center;

  width:10%;

  .addIcon{
    font-size:3em;
    color: red;
    margin-left:auto;
    margin-right:auto;
  }

}
