<ion-header>
    <ion-row>
        <div class="flexbar">
            <page-search></page-search>
            <div class="addIconHeader flexitem2" *ngIf="!user.student">
                <ion-icon class="addIcon" item-right name="md-add-circle" (click)="clicked($event)"></ion-icon>
            </div>
        </div>

    </ion-row>

</ion-header>

<ion-content>

    <ion-list>
        <ion-list-header class="listHeader">
            {{'HOME.MODULES' | translate}}
        </ion-list-header>

        <div *ngIf="modules.length">
            <ion-item-sliding *ngFor="let module of modules" value="module">
                <ion-item (click)="goToDetail(module)">
                    <ion-label class="taskHeader">
                        {{module.module_Name}}
                    </ion-label>
                    <ion-label item-right>
                        {{module.module_description}}
                    </ion-label>
                    <ion-icon item-right name="school"></ion-icon>
                </ion-item>
                <ion-item-options side="right">
                    <button class="unsubscribe" color="danger" ion-button (tap)="removeModuleUser(module)">
                        <ion-icon item-right name="remove-circle" *ngIf="user.student"></ion-icon>
                        <ion-icon item-right name="trash" *ngIf="!user.student"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </div>
        <div *ngIf="!modules.length">
            <ion-item>
                {{'HOME.NOMODS' | translate}}
            </ion-item>
        </div>
    </ion-list>
</ion-content>
