page-home {

}

.pageHeader{
  border:none;
}

.addIconHeader{

  text-align:center;

  .addIcon{
    font-size:3em;
    color: $button_main;
    margin-left:6px;
  }

}

.flexbar{
  display:flex;
  flex-direction:row;
  align-items:center;
  width:100%;
  margin: 13px 10px;
}

.flexitem1{
  order:1;
}

.flexitem2{
  order:2;
}
