<ion-header>
  <ion-row >
    <ion-searchbar class="searchBar searchBarTeacher"
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <div class="addIconHeader" *ngIf="!user.student">
      <ion-icon class="addIcon" item-right name="md-add-circle" (click)="clicked($event)"></ion-icon>
    </div>

  </ion-row>

</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header class="listHeader">
      {{'HOME.COURSE' | translate}}
    </ion-list-header>

    <ion-item *ngFor="let module of modules" value="module">

      <ion-label class="taskHeader" (click)="goToDetail($event)">
        {{module.name}}
      </ion-label>

      <ion-label item-right>
       {{ module.teacher}}
      </ion-label>

      <ion-icon item-right name="md-school"></ion-icon>

    </ion-item>

  </ion-list>
</ion-content>
