<ion-header>
    <ion-searchbar class="searchBar"
                   [(ngModel)]="myInput"
                   [showCancelButton]="shouldShowCancel"
                   (ionInput)="onInput($event)"
                   (ionCancel)="onCancel($event)">
    </ion-searchbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header class="listHeader">
            <p>{{'SETTINGS.ACCOUNT_SETTINGS' | translate}}</p>
        </ion-list-header>

        <ion-item *ngIf="user.student">
            <ion-label>
                {{'SETTINGS.REG_NUMBER' | translate}} {{user.id}}
            </ion-label>

        </ion-item>

        <ion-item>
            <ion-label>
                {{'SETTINGS.EMAIL' | translate}} {{user.email}}
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                {{'SETTINGS.CHANGE_PASSWORD' | translate}}
            </ion-label>
            <ion-icon name="arrow-forward" item-right></ion-icon>
        </ion-item>

        <ion-item *ngIf="user.student">
            <ion-label>
                {{'SETTINGS.INFOS' | translate}}
            </ion-label>
            <ion-toggle item-right [(ngModel)]="messages"></ion-toggle>
        </ion-item>

        <!--<ion-item *ngIf="user.student">
            -<div>
                 {{'SETTINGS.CLASS'}} {{user.class}}
             </div>
         </ion-item>-->

        <ion-item (click)="logoutUser()">
            <ion-label>
                {{'SETTINGS.LOGOUT' | translate}}
            </ion-label>
            <ion-icon name="arrow-forward" item-right></ion-icon>
        </ion-item>
    </ion-list>

    <ion-list radio-group [(ngModel)]="standardReminder" *ngIf="user.student">
        <ion-list-header class="listHeader">
            <ion-label>{{'SETTINGS.STANDARD' | translate}}</ion-label>
        </ion-list-header>

        <ion-item class="centeredList">
            <ion-label>5 Minuten</ion-label>
            <ion-radio value="select1" selected="selected"></ion-radio>
        </ion-item>

        <ion-item class="centeredList">
            <ion-label>1 Stunde</ion-label>
            <ion-radio value="select2"></ion-radio>
        </ion-item>

        <ion-item class="centeredList">
            <ion-label>1 Woche</ion-label>
            <ion-radio value="select3"></ion-radio>
        </ion-item>

    </ion-list>

</ion-content>
