.searchBar{
  box-shadow:none;
  background:white;
}

ion-header{
  background-color:white;
}

.searchbar-md {
  padding: 15px 0px 15px 15px;
  .searchbar-input{
    box-shadow:none;
    border: 0.5px solid darkgrey;
  }

}

.scroll-content{
  margin-top: 74px;
  overflow-y: hidden;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
  background-image:none;
}

.listHeader{
  background-color: $header_list;
}

.label-md{
  margin:0;
}

.list-header-md{
  min-height:3rem;
}

.list-md + ion-list ion-list-header{
  margin-top:0;
}

.tabs .tab-button[aria-selected=true]{
  color:  $button_main;

  .tab-button-icon{
    color:  $button_main;

  }
}

ion-row{
  flex-wrap: nowrap
}

.footer-navigation {
  margin-bottom: 20px;
}

button.dd-button {
  background: $button_main;
}

button.dd-button.activated {
  background: $button_main_active;
}

button.back-button {
  color: $button_main;
}

.app-image {
  position: relative;
  text-align: center;
  width: 100%;
  height: 220px;
}
