page-module-detail {

  .flexbar{
    width:auto;
  }

  .toolbar-background-ios{
    background-color:white;
  }

  .toolbar-ios ion-title {
    padding: 0 90px 1px 126px;

  }

  .toolbar-background-md{
    background-color:white;
  }

  .deadline-right{
    text-align: right;
  }

  .delete-icon{
    margin: 9px 5px 8px 2px !important;

  }

  .moduleDescription {
    padding: 5px 15px;
  }
}
