<ion-header>
    <div class="flexbar">

        <ion-navbar>
            <ion-title class="addModuleTitle flexitem1" item-left>{{module.module_Name}}</ion-title>
        </ion-navbar>

        <div class="addIconHeader flexitem2" *ngIf="!user.student">
            <ion-icon class="addIcon" item-right name="md-add-circle" (click)="addDeadline($event, module)"></ion-icon>
        </div>
    </div>
</ion-header>


<ion-content>
    <p class="moduleDescription" *ngIf="module.module_description">
        {{module.module_description}}
    </p>
    <ion-list>
        <ion-list-header class="listHeader">
            {{"MODULES-DETAIL.TITLE" | translate}}
        </ion-list-header>

        <div *ngIf="deadlines">
            <ion-item *ngFor="let deadline of deadlines" value="deadline" (click)="goToDetail($event, module)">
                <ion-label>
                    <span class="taskHeader">{{deadline.deadline_name}}</span> <br/>
                    <span class="taskDescription">{{deadline.deadline_description}}</span>
                </ion-label>

                <ion-label class="deadline-right" item-right>
                    <!--{{ deadline.date | date:'dd.MM.yyyy'}}-->
                    10.10.2017
                    <ion-icon *ngIf="!user.student" item-right name="md-trash" class="delete-icon"></ion-icon>
                </ion-label>
            </ion-item>
        </div>
        <div *ngIf="!deadlines">
            <ion-item>
                {{'MODULES-DETAIL.NO_DEADLINES' | translate}}
            </ion-item>
        </div>

        <div padding>
            <button class="dd-button" ion-button full type="submit" (tap)="mapModuleUser()" *ngIf="showAdd">{{'MODULES-DETAIL.ADDMODULE' | translate}}</button>
        </div>
    </ion-list>


</ion-content>
