page-deadlines {


  .checkButtons{
    margin: 7px;
    padding: 1.4em 0;
  }

  .lastListItem{
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .submit{
    background-color:green;
  }

  .flexButtons{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin: 13px 10px;
  }

  .item1{
    order:1;
    width:100%;
    background-color:#e6e6e6;
    color:#747474;
  }

  .item2{
    order:2;
    width:100%;
  }


  .label-adapt{
    margin-top:1.5em;
  }

  .item-block {
    min-height: 7rem;
  }

}

